<h1> Login </h1>

<%=form_for @user, url:"user_todo_index_url" do |t| %>
<div class="center1">
  <div>
    <%= t.label :email %><br>
  <%= t.text_field :email %>
  </div>
  <%= button_to "Confirm",user_todo_index_url(:user_id)
     %>
  </div>
</div>
</div>
<% end %>